html, body {
    font-family: 'Fira Mono', monospace;
    text-decoration: none;
}
.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description {
    text-align: center;
}
.info {
    font-family: 'Fira Mono', monospace;
    text-align: center;
    text-decoration: none;
}
.details {
    text-decoration: none;
    text-align: center;
}